bin/Debug/net8.0/appsettings.Development.json
bin/Debug/net8.0/appsettings.json
bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
bin/Debug/net8.0/Microsoft.OpenApi.dll
bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net8.0/todo-tarefas.deps.json
bin/Debug/net8.0/todo-tarefas.dll
bin/Debug/net8.0/todo-tarefas.exe
bin/Debug/net8.0/todo-tarefas.pdb
bin/Debug/net8.0/todo-tarefas.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/todo-tarefas.csproj.nuget.dgspec.json
obj/todo-tarefas.csproj.nuget.g.props
obj/todo-tarefas.csproj.nuget.g.targets
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/staticwebassets.build.json
obj/Debug/net8.0/todo-tar.0EC10A98.Up2Date
obj/Debug/net8.0/todo-tarefas.AssemblyInfo.cs
obj/Debug/net8.0/todo-tarefas.AssemblyInfoInputs.cache
obj/Debug/net8.0/todo-tarefas.assets.cache
obj/Debug/net8.0/todo-tarefas.csproj.AssemblyReference.cache
obj/Debug/net8.0/todo-tarefas.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/todo-tarefas.csproj.FileListAbsolute.txt
obj/Debug/net8.0/todo-tarefas.dll
obj/Debug/net8.0/todo-tarefas.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/todo-tarefas.genruntimeconfig.cache
obj/Debug/net8.0/todo-tarefas.GlobalUsings.g.cs
obj/Debug/net8.0/todo-tarefas.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net8.0/todo-tarefas.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net8.0/todo-tarefas.pdb
obj/Debug/net8.0/ref/todo-tarefas.dll
obj/Debug/net8.0/refint/todo-tarefas.dll
obj/Debug/net8.0/staticwebassets/msbuild.build.todo-tarefas.props
obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.todo-tarefas.props
obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.todo-tarefas.props
